body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
	line-height: 1;
    color: var(--main-color);
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

main .container-form {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

main .container-form form {
    padding: 2rem;
    width: 50%;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

main .container-form form h2 {
    margin-bottom: 3rem;
    font-size: 18px;
    font-weight: 700;
    color: var(--green-primary);
    text-align: center;
}

main .container-form form div {
    width: 100%;
}

main .container-form form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 14px;
    font-weight: 600;
}

main .container-form form input {
    display: block;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border: 1px solid var(--green-primary);
    border-radius: 6px;
    font-size: 12px;
}

main .container-form form input:focus {
    border: 2px solid var(--green-hover);
}

main .container-form form input[name="password"] {
    margin-bottom: 5px;
}

main .container-form form .forgot-password {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    margin-bottom: 3rem;
}

main .container-form form .forgot-password a {
    color: var(--green-primary);
    font-weight: 600;
}

main .container-form form button {
    width: 100%;
    padding: 1rem;
    color: #fff;
    background-color: var(--green-primary);
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
}

main .container-form form button::before {
    content: "";
    width: 120%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -120%;
    border-radius: 24px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: var(--green-hover);
    transition: .3s;
}

main .container-form form button:hover::before {
    left: 0;
}

main .container-form form button span {
    position: relative;
}

main .container-form form p {
    font-size: 10px;
    text-align: center;
}

main .container-form form p a {
    color: var(--green-primary);
    font-weight: 600;
}

main .container-img {
    flex: 1 1 0;
    background: linear-gradient(to bottom, var(--soft-lime), var(--baby-blue));
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

main .container-img figure {
    width: 100%;
    height: 100%;
}

main .container-img figure img {
    width: 80%;
    object-fit: contain;
    position: absolute;
    bottom: -50px;
    left: 20%;
    filter: grayscale(1) blur(3px);
    transition: .3s;
}

main .container-img figure img:hover {
    filter: grayscale(0) blur(0);
}

@media (max-width: 992px) {
    main .container-form form {
        width: 90%;
        min-height: 600px;
        max-height: 900px;
    }

    main .container-form form h2 {
        font-size: 30px;
        margin-bottom: 4rem;
    }

    main .container-form form label {
        font-size: 1rem;
    }

    main .container-form form input {
        padding: 1.2rem 1rem;
        border-radius: 8px;
        margin-bottom: 1.5rem;
        font-size: 14px;
    }

    main .container-form form input[name="password"] {
        margin-bottom: 9px;
    }

    main .container-form form .forgot-password {
        font-size: 12px;
    }

    main .container-form form button {
        padding: 1.2rem;
    }

    main .container-form form p {
        font-size: 12px;
    }

    main .container-img figure img {
        top: 40%;
        width: 100%;
    }
}

@media (max-width: 430px) {
    main .container-form {
        padding: 0;
    }

    main .container-form form {
        width: 100%;
        height: 100%;
        border-bottom: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    main .container-form form h2 {
        margin-top: 3rem;
        margin-bottom: 6rem;
        font-size: 40px;
    }

    main .container-form form label {
        font-size: 14px;
        font-weight: 600;
    }

    main .container-form form input {
        font-size: 14px;
        padding: 1.5rem 1rem;
        margin-bottom: 2rem;
    }

    main .container-form form input[name="password"] {
        margin-bottom: 8px;
    }

    main .container-form form .forgot-password {
        font-size: 12px;
    }

    main .container-form form button {
        padding: 1.5rem 1rem;
    }

    main .container-form form button span {
        font-size: 14px;
    }

    main .container-form form p {
        font-size: 12px;
    }

    main .container-img {
        display: none;
    }
}