html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 180px;
}

ol, ul {
	list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
}

/* Batas Reset */

/* Fonts style */

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Thin.woff2') format('woff2'),
        url('./fonts/Poppins-Thin.woff') format('woff'),
        url('./fonts/Poppins-Thin.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.woff2') format('woff2'),
        url('./fonts/Poppins-Regular.woff') format('woff'),
        url('./fonts/Poppins-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('./fonts/Poppins-SemiBold.woff') format('woff'),
        url('./fonts/Poppins-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Bold.woff2') format('woff2'),
        url('./fonts/Poppins-Bold.woff') format('woff'),
        url('./fonts/Poppins-Bold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
/* Batas Fonts Style */

/* Variabel CSS */
:root {
    --baby-blue: #C8F4FA;
    --soft-lime: #E4FED0;
    --main-color: #333333;
    --green-primary: #69E00E;
    --green-hover: #51ac0b;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
	line-height: 1;
    color: var(--main-color);
    height: 100000px;
}

.header-hero-content-wrapper {
    padding: 2rem 7%;
    background: linear-gradient(to bottom, var(--baby-blue), var(--green-primary));
}

.header-hero-content-wrapper header {
    background-color: #fff;
    border-radius: 37px;
}


.header-hero-content-wrapper header nav {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 4rem;
    border-radius: 37px;
    background-color: rgba(255,255,255, 0.25);
    transition: all 0.3s ease-in-out;
}

.nav-scroll {
    position: fixed;
    top: 0.4rem;
    left: 7%;
    right: 7%;
    backdrop-filter: blur(10px);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.header-hero-content-wrapper header nav .start-nav h2 {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;

}

.header-hero-content-wrapper header nav .mid-nav {
    padding: 0.8rem 1.3rem;
    border-radius: 24px;
    transition: 0.3s;
}

.header-hero-content-wrapper header nav .mid-nav ul li {
    display: inline-block;
    margin: 0 0.8rem;
}

.header-hero-content-wrapper header nav .mid-nav ul li a {
    font-weight: 600;
    font-size: 0.9rem;
    transition: 0.4s;
}

.header-hero-content-wrapper header nav .mid-nav ul li:hover a{
    color: var(--green-primary);
}

.header-hero-content-wrapper header nav .end-nav a .btn-sign {
    padding: 0.5rem 1.3rem;
    background-color: #fff;
    color: var(--green-primary);
    border: 1px solid var(--green-primary);
    border-radius: 0.4rem;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 10px;
    transition: 0.3s;
}

.header-hero-content-wrapper header nav .end-nav a .btn-sign:hover {
    cursor: pointer;
    color: var(--green-hover);
    border: 1px solid var(--green-hover);
    scale: 1.025;
}

.header-hero-content-wrapper header nav .end-nav a .btn-register {
    border: 1px solid var(--green-main);
    background-color: var(--green-primary);
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 0.4rem;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.4s;
}

.header-hero-content-wrapper header nav .end-nav a .btn-register:hover {
    background-color: var(--green-hover);
    scale: 1.02;
    background-color: var(--green-hover);
    cursor: pointer;
}

.header-hero-content-wrapper #hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5rem;
    margin-top: 2rem;
    padding: 2rem 4rem;
    background-color: #fff;
    border-radius: 30px;
}

.header-hero-content-wrapper #hero .hero-content {
    flex: 2 0 60%;
}

.header-hero-content-wrapper #hero .hero-illustration {
    flex: 0 1 auto;
}

.header-hero-content-wrapper #hero .hero-content h2 {
    font-size: 3.4rem;
    color: var(--black-main);
    font-weight: 700;
    line-height: 1.3;
}

.header-hero-content-wrapper #hero .hero-content span {
    color: var(--green-primary);
}

.header-hero-content-wrapper #hero .hero-content p {
    margin-top: 15px;
    width: 19rem;
    line-height: 1.5;
}

.header-hero-content-wrapper #hero .hero-content .btn-mencatat {
    margin-top: 60px;
    padding: 1rem 2rem;
    border-radius: 22px;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--green-primary);
    color: #fff;
    transition: 0.4;
}

.header-hero-content-wrapper #hero .hero-content .btn-mencatat:hover {
    background-color: var(--green-hover);
    scale: 1.02;
    cursor: pointer;
}

.header-hero-content-wrapper #hero .hero-illustration img {
    width: 100%;
    height: 100%;
}

.description-content-wrapper {
    padding: 0 7% 2.3rem;
    background-color: #fff;
    text-align: center;
    color: #ccc;
}

.description-content-wrapper #description {
    text-align: center;
    /* margin-top: 3rem; */
    padding: 0 4rem;
    background-color: var(--green-accent);
}

.description-content-wrapper #description h6 {
    font-weight: 600;
    margin-top: 3rem;
}

.description-content-wrapper #description .description-details {
    display: flex;
    justify-content: space-between;
    column-gap: 5rem;
    text-align: left;
    margin-top: 3rem;
}

.description-content-wrapper #description .description-details .description-image {
    flex: 1 1 50%;
}

.description-content-wrapper #description .description-details .description-image img {
    width: 100%;
    height: auto;
}

.description-content-wrapper #description .description-details .description-explanation {
    flex: 1 1 50%;
    background-color: #fff;
    border: 1px solid;
    border-radius: 16px;
    padding: 2rem;
    line-height: 2;
    transition: 0.3s;
}

.description-content-wrapper #description .description-details .description-explanation h3 {
    color: var(--green-primary);
    font-weight: 600;
    font-size: 2rem;
}

.description-content-wrapper #description .description-details .description-explanation p {
    font-size: 1.2rem;
}

.description-content-wrapper #description .description-details .description-explanation h4 {
    margin-top: 2rem;
}

.mobile-nav {
    display: none;
}

@media (max-width: 992px) {
    header {
        padding: 1rem 6%;
    }

    header nav .start-nav h2 {
        font-size: 1.25rem;
    }

    header nav .mid-nav {
        padding: 0.8rem 1.2rem;
    }

    header nav .mid-nav ul li {
        margin: 0 0.5rem;
    }

    header nav .mid-nav ul li a {
        font-size: 0.9rem;
    }

    header nav .end-nav a .btn-sign, header nav .end-nav a .btn-register {
        padding: 0.4rem 1.2rem;
    }

    header nav .end-nav a .btn-sign, header nav .end-nav a .btn-register {
        font-size: 0.9rem;
    }

    header nav .end-nav a .btn-sign {
        margin-right: 7px;
    }

    main {
        margin-top: 50px;
    }

    main #hero {
        column-gap: 2rem;
        margin-top: 1.4rem;
        padding: 1rem 6%;
    }

    main #hero .hero-content h2 {
        font-size: 4rem;
    }

    main #hero .hero-content .btn-mencatat {
        padding: 0.8rem 1.5rem;
        font-size: 0.9rem;
        margin-top: 1rem;
    }

    main #description {
        padding: 1rem 6% 6rem;
    }

    main #description h6 {
        margin-top: 10px;
    }

    main #description .description-details {
        column-gap: 4rem;
    }

    main #description .description-details .description-explanation {
        padding: 2rem;
        max-height: 300px;
        overflow: scroll;
        line-height: 1.7;
    }

    main #description .description-details .description-explanation h3 {
        font-size: 1.2rem;
    }

    main #description .description-details .description-explanation p {
        font-size: 1rem;
    }

    main #description .description-details .description-explanation h4 {
        margin-top: 1.2rem;
    }
}

@media (max-width: 768px) {
    header{
        position: static;
        padding: 0.9rem 8%;
    }

    header nav .start-nav h2 {
        font-size: 1.85rem;
    }

    header nav .end-nav .btn-register {
        display: none;
    }
    
    main {
        margin-top: 75px;
        padding: 0 8%;
    }

    main #hero {
        flex-direction: column;
    }

    main #hero .hero-content {
        flex: 1 1 0;
    }

    main #hero .hero-content h2 {
        font-size: 4.25rem;
        line-height: 0.9;
    }

    main #hero .hero-content .btn-mencatat{
        margin-top: 30px;
        padding: 1.2rem 2.5rem;
        font-size: 1.25rem;
    }

    main #hero .hero-illustration {
        margin-top: 30px;
    }

    main #description .description-details {
        flex-direction: column;
        row-gap: 2rem;
    }

    main #description .description-details .description-explanation {
        overflow: visible;
        max-height: max-content;
    }

    main #description .description-details .description-explanation h3 {
        font-size: 1rem;
    }

    main #description .description-details .description-explanation h3:last-of-type {
        margin-top: 0.8rem;
    }

    main #description .description-details .description-explanation p {
        font-size: 0.9rem;
    }

    main #description .description-details .description-explanation h4 {
        font-size: 0.9rem;
    }

    .mobile-nav {
        display: block;
        padding: 1rem 8% 1.5rem;
        background-color: #fff;
        border-top: 1px solid #79a47d;;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .mobile-nav nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 3rem;
        text-align: center;
    }

    .mobile-nav nav a {
        max-width: 65px;
    }

}

